main{
	padding: 70px 0;
}
.total{
	color: #db3838;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.pay{
	text-decoration: none;
	display: block;
	width: 200px;
	line-height: 40px;
	background: #db3838;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	transition: 0.4s;
	float: left;
}
.pay:hover,a.continude:hover{
	background: #000;
	transition: 0.4s;
	cursor: pointer;
}

a.continude{
	margin-left: 20px;
	float: left;
	text-decoration: none;
	display: block;
	width: 200px;
	line-height: 40px;
	background: #f0ad4e;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	transition: 0.4s;
}
.modal-body p{
	margin-top:15px;
	margin-bottom:unset;
}