
#slide-show{

}

.slide{
	width: 100%;
	height: 60vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}
.slide:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.2;
	z-index: -1;
}
.text{
	color: #fff;
	z-index: 4;
}
.text h1{
	font-size: 64px;
	text-transform: uppercase;
}
.description{
	width: 700px;
}
.carousel-control-prev,.carousel-control-next{
	z-index: 3;
}

.product{
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.product:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.2;

}
.button{
	z-index: 2;
}
.button p{
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
}
.button a{
	display: block;
	text-decoration: none;
	color: #fff;
	background: #db3838;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;
}
.button a:hover{
	font-size: 18px;
	transition: 0.3s;
}
.banner-man{
	height: 440px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.banner-man:after{
	content: "";
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.2;
}
.button-1{
	text-align: center;
	z-index: 2;
}

.button-1 p{
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 35	px;
}
.button-1 a{
	display: block;
	text-decoration: none;
	color: #fff;
	background: #db3838;
	width: 215px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 18px;
	transition: 0.3s;
}
.button-1 a:hover{
	font-size: 22px;
	transition: 0.3s;
}
#content-2,#content-3,#content-4{
	margin-top: 100px;
	position: relative;
}
.bg-3{
	position: absolute;
	width: 1 0%;
	height: 100%;
	background: #ebebeb;
	right: 0;
	top: 0;
}
.container{
	z-index: 4;
}

.title{
	font-size: 25px;
	text-transform: uppercase;
	color: #444444;
	width: 250px;
	border-bottom: 2px solid #808080;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
a.images-2{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 320px;
	transition: 0.3s;
	border: #ccc 1px solid;
}
a.images-2:hover{
	background-size: 300px 370px !important;
	transition: 0.3s;
}

.infor-2 p{
	margin-top: 35px;
	font-size: 18px;
	color: #444;
	border-bottom: 2px solid #f3f3f3;

}
.price{
	display: flex;
}
.price p{
	flex: 1;
	margin-top: 20px;
	font-size: 20px;
	color: #444;
	font-weight: bold;
	border-bottom: unset;
	margin: unset;
	line-height: 40px;
}
.price a{
	text-decoration: none;
	flex: 1;
	display: block;
	color: #fff;
	background: #db3838;
	width: 115px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;

}
.price a:hover{
	font-size: 18px;
	transition: 0.3s;
}
#main{
	margin-top: 100px;
	margin-bottom: 100px;
}
