#content-top{
	background: url('../images/Banner-MenShop79-001.png') no-repeat center/cover;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: -2;
	text-align: center;
}
#content-top:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: -1;
}
.title{
	z-index: 3;
}
.title h1{
	font-size: 48px;
	color: #fff;
}
#introduce{
	padding:70px 0;
}