*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
#header-top{
	border-bottom: 1px solid #d9d9d9;
}

.top{
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
.top-active{
	border-right: 1px solid #d9d9d9
}
.form-search input[type=text]{
	width: 80%;
	height: 50px;
	border: 1px #e1e1e1 solid;
	padding-left: 10px;
	outline: none;
	font-size: 14px;
	color: #666;
}
.form-search {
	display: flex;
	width: 90%;
	margin: auto;
	margin-top: 45px;
}

.form-search input[type=text]::placeholder{
	flex: 1;
	font-size: 14px;
	color: #666;
	font-style: italic;

}
.form-search input[type=submit]{
	flex: 1;
	width: 70px;
	height: 50px;
	background-color: #db3838;
	border:none;
	outline: none;
}
.form-search input[type=submit]:hover{
	cursor: pointer;
}
.contact{
	margin-top: 45px;
}
.nav>li{
float: left;
/* margin-right: 15px; */
}

.nav>li>a{
text-transform: uppercase;
color: #fff;

}

.nav li{
position: relative;
transition: 0.4s;
width: 20%;
}
.nav li a:hover{
	transition: 0.4s;
	border-bottom: 5px solid #db3838;
}

.nav li a{
	color: #d4d4d4;
	font-size: 16px;
	text-decoration: none;
	line-height: 60px;
	display: block;
	width: 100%;
	text-align: center;

}
.sub-menu a{
	padding-left: 15px;
	display: block;
	width: 100%;
	border-top: 1px solid #6d6464;
	line-height: 50px;

}
.nav .sub-menu{
	z-index: 9;
display: none;
position: absolute;
top: 0;
left: 100%;
width: 200px;
background-color: #000;
/* padding: 5px 20px; */
}

.nav li:hover>.sub-menu{
display: block;

}


.nav>li>.sub-menu{
top: 65px;
left: 0;
}
ul{
	list-style: none;
}
.menu ul{
	list-style: none;
	display: flex;
}

.menu ul a{
	display: block;
	line-height: 60px;
	flex: 1;
	color: #d4d4d4;
	text-decoration: none;
	font-size: 16px;
	transition: 0.4s;
	text-align: center;
}
.menu ul a:hover{
	transition: 0.4s;
	border-bottom: 5px solid #db3838;
}
#header-bt{
	background-color: #000;
	height: 65px;
	margin-top: -7px;
}
a.login{
	position: absolute;
	top: 0;
	right: 15px;
	background: #db3838;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding:5px 10px;
}
a.cart{
	display: block;
	text-decoration: none;
	width: 100%;
	line-height: 65px;
	background-color: #db3838;
	color: #fff;
	text-align: center;
	position: relative;
}
.cart p{
	transition: 0.3s;
}
.cart:hover.cart p{
	transform: rotateZ(5deg);
	transition: 0.3s;
}
a.cart img{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.logo p{
	color: #444;
	text-align: justify;
}
.contact-ft{
	margin-top: 55px;
}
.contact-ft p{
	color: #444;
	text-align: justify;
}
.border-1{
	border-top: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
	padding: 30px 0;
}
#footer-bt{
	text-align: center;
	line-height: 80px;
}
a.dropdown-toggle{
	position: absolute;
	display: block;
	top: 0;
	right: 30px;
	font-weight: bold;
	font-size: 12px;
	padding:5px 10px;
	text-decoration: none;
	color: #777;
}
a.dropdown-toggle img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.dropdown-menu{
	top: 45px;
	left: unset;
	right: 30px;
	width: 100px;
	padding-left: 15px;
}
.dropdown-menu > li > a {
	color: #676a6d;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
}