main{
	margin-top: 100px;
	margin-bottom: 100px;
}
.images{
	height: 550px;
	width: 100%;
}
.infor h3{
	font-size: 22px;
	text-transform: uppercase;
	color: #333;
	font-weight: 400;
}
.infor p{
	font-weight: #666;

}
.price{
	margin-top: 20px;
	font-size: 18px;
	line-height: 25px;

}
.price span{
	font-size: 22px;
	color: #c80204;
	margin-left: 15px;
}
.status{
	font-size: 18px;
	border-bottom: 1px #ccc solid;
	padding-bottom: 20px;
}
.detail p{
	font-size: 18px;
}
.detail{
	text-align: justify;
	border-bottom: 1px #ccc solid;
	padding-bottom: 20px;
}
.choose{
	margin-top: 20px;
	display: flex;
	border-bottom: 1px #ccc solid;
	padding-bottom: 20px;
}
.size{
	flex: 1;
}
.count{
	flex: 1;
}
.count input[type=number]{
	width: 200px;
	height: 30px;
	background: #ededed;
	border: none;
	padding-left: 20px;
	outline: none;
}
.choose select{
	width: 200px;
	height: 30px;
	background: #ededed;
	border: none;
	padding-left: 20px;
	outline: none;
}
.add-cart{
	text-decoration: none;
	display: block;
	margin-top: 30px;
	width: 250px;
	height: 50px;
	background: #db3838;
	border-radius: 3px;
	position: relative;
	text-align: center;
	transition: 0.4s;
	border:none;
}
.add-cart:hover{
	cursor: pointer;
}
.add-cart img{
	position: absolute;
	top: 17px;
	left: 16px;
}
.add-cart p{
	color: #fff;
	line-height: 50px;

}
.add-cart:hover{
	font-size: 18px;
	transition: 0.4s;
}
.title{
	width: 260px;
}
#list-comment{
	margin-top: 100px;
}
.comment{
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.09);
	padding-bottom: 20px;
	margin-top: 20px;
}
.comment img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.profile{
	margin-left: 60px;
}
.profile .name{
	font-weight: bold;
}
.profile .phan-hoi{
	font-size: 14px;
	margin-top: 15px;
}
.profile .date{
	font-size: 12px;
	font-style: italic;
	color:#636262;
	margin-top: 15px;
}
.text-cmt textarea{
	padding: 15px;
	width: 100%;
	height: 100px;
	outline: none;
	border-radius: 10px;
	color: #636262;

}
.text-cmt textarea::placeholder{
	font-style: italic;
}
.text-cmt input[type=submit]{
	height: 40px;
	width: 100px;
	border-radius: 10px;
	background: #ef6363;
	color: #fff;
	border:none;
	outline: none;
}