main{
	margin-bottom: 80px;
}
#main-top{
	height: 300px;
	width: 100%;
	background: url('../images/banner-san-pham.jpg') no-repeat top/cover;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #999;
}
.title-top{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 500px;
	height: 250px;
	border: 5px solid #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title-top h2{
	font-size: 42px;
	font-weight: bold;
	border-bottom: 3px solid #fff;
	padding: 0 40px;
	padding-bottom: 20px;
	color: #fff;
}
.title-top p{
	color: #fff;
}
.product-2{
	margin-bottom: 50px;
	margin-top: 20px;
}

.button{
	z-index: 2;
}
.button p{
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
}
.button a{
	display: block;
	text-decoration: none;
	color: #fff;
	background: #db3838;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;
}
.button a:hover{
	font-size: 18px;
	transition: 0.3s;
}

.button-1 p{
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 35	px;
}
.button-1 a{
	display: block;
	text-decoration: none;
	color: #fff;
	background: #db3838;
	width: 215px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 18px;
	transition: 0.3s;
}
.button-1 a:hover{
	font-size: 22px;
	transition: 0.3s;
}
#content-2,#content-3,#content-4{
	margin-top: 100px;
	position: relative;
}
.title{
	font-size: 25px;
	text-transform: uppercase;
	color: #444444;
	width: 250px;
	border-bottom: 2px solid #808080;
	padding-bottom: 15px;
	margin-bottom: 30px; 
}
a.images-2{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 320px;	
	transition: 0.3s;
}
a.images-2:hover{
	background-size: 300px 370px !important;
	transition: 0.3s;
}

.infor-2 p{
	margin-top: 35px;
	font-size: 18px;
	color: #444;
	border-bottom: 2px solid #f3f3f3;

}
.price{
	display: flex;
}
.price p{
	flex: 1;
	margin-top: 20px;
	font-size: 20px;
	color: #444;
	font-weight: bold;
	border-bottom: unset;
	margin: unset;
	line-height: 40px;
}
.price a{
	text-decoration: none;
	flex: 1;
	display: block;
	color: #fff;
	background: #db3838;
	width: 115px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;

}
.price a:hover{
	font-size: 18px;
	transition: 0.3s;
}
